body {
  text-align: center;
  background-color: aliceblue;
  font-family: OCR A Std, monospace;
  margin: 150px;
}
button {
  margin: 20px;
  background-color: rgba(234, 245, 234, 0.639);
  border-radius: 28px;
  border: 1px solid #000000;
  display: inline-block;
  cursor: grab;
  color: #661212;
  font-size: 17px;
  padding: 16px 31px;
  text-decoration: none;
  outline: none;
  font-family: OCR A Std, monospace;
}
button:hover {
  background-color: white;
}
